.navigation {
    background-color: #2d2d2d;
    padding: 1em 2em 1em 0; /* 오른쪽에 여백 추가 */
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.navigation ul {
    list-style: none;
    display: flex;
    gap: 4em;
    padding: 0 2em 0 0; /* 오른쪽에 여백 추가 */
    margin: 0;
}
  
.navigation a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
  
.navigation a:hover, .navigation a:focus {
    color: #e63946;
}